@model DoAnTN.Models.Order

@{
    ViewData["Title"] = "CreateOrder";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
    var list = (List<OrderDetailDTO>)ViewBag.cart;
    var total = ViewBag.total;
    var address = ViewBag.Address;
}
<table class="table table-bordered" style="text-align: center">
    <thead>
        <tr>
            <th style="font-weight: bold">
                Tên sản phẩm
            </th>
            <th style="font-weight: bold">
                Màu
            </th>
            <th style="font-weight: bold">
                Hình ảnh
            </th>
            <th style="font-weight: bold">
                Giá tiền
            </th>
            <th style="font-weight: bold">
                Số lượng
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProductColor
                </td>
                <td>
                    <img src="@Url.Content("~/image/" + item.ImagePath)" width="150px" height="150px" asp-append-version="true" />
                </td>
                <td>
                    @item.SellCost.ToString("#,###") ₫
                </td>
                <td>
                    @item.Quantity
                </td>
            </tr>
        }
    </tbody>
</table>
@if (address != null)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateOrder">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Họ và tên:</label>
                    <input asp-for="FullName" class="form-control" value="@address.FirstName @address.LastName" required />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Số điện thoại:</label>
                    <input asp-for="Phone" value="@address.Phone" class="form-control" required maxlength="10" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Địa chỉ:</label>
                    <input id="address" asp-for="Address" value="@address.City - @address.District - @address.Address1" class="form-control" required />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Tổng tiền:</label>
                    <input style="font-weight: bold; color: red; outline: none" asp-for="Total" value="@total" class="form-control" readonly />
                    <span asp-validation-for="Total" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đặt hàng" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateOrder">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Họ và tên:</label>
                    <input asp-for="FullName" class="form-control" value="" required />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Số điện thoại:</label>
                    <input asp-for="Phone" class="form-control" required maxlength="10" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Địa chỉ:</label>
                    <input id="address" asp-for="Address" class="form-control" required />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Tổng tiền:</label>
                    <input style="font-weight: bold; color: red; outline: none" asp-for="Total" value="@total" class="form-control" readonly />
                    <span asp-validation-for="Total" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đặt hàng" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
}

<div>
    <a asp-action="Index" asp-controller="Cart">Quay lại giỏ hàng</a>
</div>
