@model DoAnTN.Models.User
@using System.Linq; 
@{
    ViewData["Title"] = "Details";
    var list = (List<OrderDTO>)ViewBag.product;
    var address = ViewBag.Address;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var x = 0;
}

<div class="row">
    <div class="col-4">
        <div class="modal-content">
            <div class="modal-header">
                Thông tin cá nhân | 
                <span><a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a></span>
            </div>
            <div class="modal-body">
                <p>Tài khoản: @Model.Username</p>
                <p>Họ tên: @Model.FirstName @Model.LastName</p>
                <p>Ngày sinh: @Html.DisplayFor(model => model.BirthDay)</p>
            </div>
        </div>
    </div>
    <div class="col-8 modal-content">
        <div class="modal-header">
            Sổ địa chỉ @if (address != null)
            {
                <span><a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="Addresses">Chỉnh sửa</a></span>
            }
        </div>
        <div class="modal-body">
            @if (address != null)
            {
                <p>Họ tên: @Model.FirstName @Model.LastName</p>
                <p>
                    Số điện thoại: @address.Phone
                </p>
                <p>Địa chỉ: @address.City - @address.District - @address.Address1</p>
            }
            else
            {
                <p>Bạn chưa có địa chỉ. Thêm địa chỉ <a asp-action="Create" asp-controller="Addresses">tại đây</a></p>
            }
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-12" style="padding-right: 0">
        <div class="modal-content">
            <div class="modal-header">
                Đơn hàng gần đây
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Ngày đặt hàng</th>
                            <th>Sản phẩm</th>
                            <th>Tổng tiền</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list)
                        {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.OrderDate</td>
                                    <td><img src="@Url.Content("~/image/" + item.ImagePath)" width="50px" height="50px" asp-append-version="true" /></td>
                                    <td>@item.Total</td>
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>