@model IEnumerable<DoAnTN.Models.OrderDetail>

@{
    ViewData["Title"] = "IndexDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn hàng</h2>

<table class="table table-bordered" style="text-align: center">
    <thead>
        <tr>
            <th style="font-weight: bold">
                Mã đơn hàng
            </th>
            <th style="font-weight: bold">
                Mã sản phẩm
            </th>
            <th style="font-weight: bold">
                Số lượng
            </th>
            <th style="font-weight: bold">
                Tổng tiền
            </th>
            <th style="font-weight: bold">
                Ngày cập nhật
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDetail.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @item.Total.ToString("#,###")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
            </tr>
        }
    </tbody>
</table>