@model PagedList.Core.IPagedList<DoAnTN.Models.Product>
@addTagHelper *, PagedList.Core.Mvc
@using PagedList.Core.Mvc;
@{
    ViewData["Title"] = "IndexClient";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="content_top" style="display: flex; align-items: center; justify-content: space-between; padding: 10px 0 0 10px; margin-bottom: 10px">
    <h4 style="font-weight: bold">Sản phẩm mới</h4>
    @*<div class="clear"></div>*@
</div>
<div class="row">
    @foreach (var item in Model)
    {
        var url = "ProductDetails/IndexClient/" + item.Id;
        <div class="col-md-3 col-sm-6 col-12">
            <div class="card card-product mb-3" style="overflow: hidden;">
                <img class="card-img-top" src="@Url.Content("~/image/" + item.ImagePath)" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text" style="color: red">@item.SellCost.ToString("#,###") ₫</p>
                    <a href="@url" class="btn btn-primary">Mua Ngay</a>
                </div>
            </div>
        </div>
    }
</div>
<pager class="pager-container" list="@Model" asp-action="IndexClient" asp-controller="Products" />