@model DoAnTN.Models.Specification

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Specification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fcamera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fcamera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scamera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scamera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Battery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Os)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Os)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SimNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SimNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FastCharge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FastCharge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sdcard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sdcard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
