@model IEnumerable<DoAnTN.Models.OrderDetailDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
    var total = (double)ViewBag.total;
    var list = (List<OrderDetailDTO>)ViewBag.cart;
}

<table class="table table-bordered" style="text-align: center">
    <thead>
        <tr>
            <th style="font-weight: bold">
                Tên sản phẩm
            </th>
            <th style="font-weight: bold">
                Màu
            </th>
            <th style="font-weight: bold">
                Hình ảnh
            </th>
            <th style="font-weight: bold">
                Giá tiền
            </th>
            <th style="font-weight: bold">
                Số lượng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductColor)
                </td>
                <td>
                    <img src="@Url.Content("~/image/" + item.ImagePath)" width="150px" height="150px" asp-append-version="true" />
                </td>
                <td>
                    <span>@item.SellCost.ToString("#,###") ₫</span>
                </td>
                <td style="align-content: center">
                    <div class="input-group input-group-sm">
                        <a style="margin-left: 20px" class="btn btn-sm btn-outline-danger" asp-controller="Cart" asp-action="BuyProductsDown" asp-route-id="@item.ProductDetailID">-</a>
                        <input style="outline: none; margin-left: 5px" id="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" size="1" readonly>
                        <a style="margin-left: 5px" class="btn btn-sm btn-outline-primary" asp-controller="Cart" asp-action="BuyProductsUp" asp-route-id="@item.ProductDetailID">+</a>
                    </div>
                </td>
                <td>
                    <a asp-action="RemoveProduct" asp-route-id="@item.ProductDetailID" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p id="total" class="mb-2" style="font-weight: bold">Tổng tiền: <span style="color: red; font-size: larger">@total.ToString("#,###") ₫</span></p>
<a asp-action="IndexClient" asp-controller="Products" class="btn btn-success">Mua thêm sản phẩm</a>
<a asp-action="CreateOrder" asp-controller="Orders" class="btn btn-primary">Thanh toán</a>